.btn-info {
	background-color: #896A67;
}
.btn-info:hover {
	background-color: #DDC8C4;
}

.btn-info:focus {
	background-color: orange !important;
}

.bg-image {
	background-image: url("../images/lights-abstract-blur-orange.jpeg");
}